//$root: '../images/';
$image_source: '../assets/images/';
$font-content: 'FFMetaProNormal', 'Helvetica', serif;
$font-header: 'AvenirNext', sans-serif;
$font-button: 'AvenirNext', sans-serif;

/*$color-content: #414141;
$color-header: #ffb300;
$color-shadow: #211c0c;
$color-light: #fff;*/

$yellow: #FFDD00;
$pink: #ED2855;
$green: #00CD9A;
$darkgrey: #29292C;
$lightgrey: #E5E5E5;
$white: #FFF;
