<form method="post" action="" enctype="multipart/form-data">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
  </p>
  <p>
    <label for="info">Info</label>
    <textarea name="info" id="info"></textarea>
  </p>
  <p>
    <label for="image">Image</label>
    <input type="file" name="image" id="image" />
  </p>
  <p class="tcenter">
    <input type="submit" value="Add group" class="button" />
  </p>
  <p class="tcenter info">
    Note that groups have to be approved first before you can view and edit them
  </p>
</form>
