<div class="filters">
  <div class="filter">
    <select class="form-control bfh-countries" name="filter_country" data-country="NL"></select>
  </div>
  <div class="filter">
	 @require('_search.hbs')
  </div>
</div>
<h1>Artists</h1>
<div class="artists"></div>
