<ul class="filters">
  <li>
    <select class="form-control bfh-countries" name="filter_country" data-country="NL"></select>
  </li>
  <li>
	 @require('_search.hbs')
  </li>
</ul>
<h1>Artists</h1>
<div class="artists"></div>
