<section class="video">
<h1 class="hidden">Promo video</h1>
</section>
<section class="featured">
	<h1>Featured</h1>
</section>
<a href="#creations/add" class="addwork"><span class="add">Upload your</span> <span class="work">work</span></a>