<h1><a href="#featured">The Tunnel</a></h1>
<ul class="navigation">
  <li><a href="#creations/add" class="addWork">Upload work</a></li>
  <li><a href="#featured"{{#ifEquals currentPage 'featured'}} class="active"{{/ifEquals}}>Featured</a></li>
  <li><a href="#explore"{{#ifEquals currentPage 'explore'}} class="active"{{/ifEquals}}>Explore</a></li>
  <li><a href="#artists"{{#ifEquals currentPage 'artists'}} class="active"{{/ifEquals}}>Artists</a></li>
  <li><a href="#groups"{{#ifEquals currentPage 'groups'}} class="active"{{/ifEquals}}>Groups</a></li>
  <li><a href="#info"{{#ifEquals currentPage 'info'}} class="active"{{/ifEquals}}>Info</a></li>
  {{#if user.id}}
  <li class="auth"><a href="#artists/{{user.id}}">Profile</a> / <a href="#logout">Logout</a></li>
  {{else}}
  <li class="auth"><a href="#login">Login</a> / <a href="#register">Register</a></li>
  {{/if}}
</ul>