<ul>
	<li><a href="#featured">Featured</a></li>
	<li><a href="#explore">Explore</a></li>
	<li><a href="#artists">Artists</a></li>
	<li><a href="#groups">Groups</a></li>
	<li><a href="#info">Info</a></li>
	<li><a href="#login">Login / Register</a></li>
</ul>