<h1>Register</h1>
<form method="post" action="">
	<p class="left">
		<label for="username">Username</label>
		<input type="text" name="username" id="username" class="registerInput"/>
    <span class="help-block hidden"></span>
	</p>
	<p class="right">
		<label for="email">Email</label>
		<input type="email" name="email" id="email" class="registerInput"/>
    <span class="help-block hidden"></span>
	</p>
	<p class="left">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" class="registerInput"/>
    <span class="help-block hidden"></span>
	</p>
	<p class="right">
		<label for="password_confirm">Confirm password</label>
		<input type="password" name="password_confirm" id="password_confirm" class="registerInput"/>
    <span class="help-block hidden"></span>
	</p>
	<p class="left">
		<label for="firstname">First name</label>
		<input type="text" name="firstname" id="firstname" class="registerInput"/>
    <span class="help-block hidden"></span>
	</p>
	<p class="right">
		<label for="lastname">Last name</label>
		<input type="text" name="lastname" id="lastname" class="registerInput" />
    <span class="help-block hidden"></span>
	</p>
	<p class="right">
		<input type="submit" value="Register" class="button right" />
	</p>
	<div class="clear"></div>
	<p class="tcenter">
		<a href="#login">Already have an account?</a>
	</p>
</form>
